


<div class="container">
  <h1> <%= @cocktail.name %> </h1>
  <%= cl_image_tag("kkpl7ftp12eojkkh1sdq",
      width: 400, height: 300, crop: :fill) %>
  <ul class="list-unstyled"> <% @cocktail.doses.each do |dose| %>
    <li> <%= dose.ingredient.name %>||<%= dose.description %> - <%= link_to "Delete", dose_path(dose),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: "btn btn-danger" %> </li>
    <% end %>
  </ul>

  <%= link_to "Add ingredients", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
  <%= link_to "Back", cocktails_path, class: "btn btn-primary" %>
</div>


Ajouter un commentaireRéduire 
