  <h2><%= @cocktail.title %></h2>
  <p><%= @cocktail.details %></p>
  <p><%= @cocktail.completed %></p>

 <!--  <p><%= link_to "Back", cocktails_path %></p>
  <p><%= link_to "edit", edit_path %></p> -->

